!!! 5
head
  meta(charset="utf-8")
  title
  script(src="/js/sea.js")
  script(src="/js/base.js")
  script seajs.use(['base', 'script'])
| <body>
| <div id="wrapper">

header
| <section id="main" role="main">
