<html>

<head>
  <title>Hello, World!</title>
  <link rel="stylesheet" href="/static/style.css"></link>
  <script type="text/javascript" src="/static/jquery.js"></script>
</head>

<section id="s1"><%-s1%></section>
<section id="s2"><%-s2%></section>
</html>